# https://ddragon.leagueoflegends.com/api/versions.json
NEXT_PUBLIC_PATCH_VERSION=""
NEXT_PUBLIC_BASE="https://localhost:3000"
NEXT_PUBLIC_RIOT_RSO_API_ROOT="https://americas.api.riotgames.com/lol/rso-match/v1"
NEXT_PUBLIC_CDN_BASE="https://ddragon.leagueoflegends.com/cdn"
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/signin"

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""

DATABASE_URL=""

ABLY_TOKEN_ISSUER_KEY=""
ABLY_PUBLISH_KEY=""

RIOT_API_KEY=""

GUEST_SESSION_SECRET=""

CRON_SECRET=""


