@import "tailwindcss";

:root {
  --background: oklch(21% 0.006 285.885);
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-oswald: var(--font-oswald);
  --font-roboto: var(--font-roboto);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@custom-variant unstable (&:where([data-theme="unstable"] *));
