@import "tailwindcss";

:root {
  --background: oklch(20.8% 0.042 265.755);
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-oswald: var(--font-oswald);
  --font-roboto: var(--font-roboto);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
